{%extends "base.html"%}

{%block content%}

<head>
    <style>
        .headshot {
            border-radius: 50%;
            height: 300px;
            width: 300px;
            background-image: url(../static/IMG_0203.jpg);
            background-repeat: no-repeat;
            margin: auto;
            border: 3px solid grey;
            margin-top: 15px;
            background-size: cover;
            background-position: center;
        }

    </style>
</head>

<body>
    <div class="headshot">

    </div>
    <p>Hi! I'm Matt.</p>
    <p>I grew up in Portland, Oregon and study Computer Science at the University of Southern California. I'm also a volunteer backpacking guide on the side.</p>
    <p>Please explore this site! You can find my contact information below.</p>
</body>

{%endblock%}